<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 控制台輸出 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!-- 格式化輸出: %d 表示日期, %thread 表示執行緒名, %-5level 表示等級從左起固定五字寬度 -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 日誌輸出級別 -->
  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
